

<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Категорії
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Vanilla Shoes">Vanilla Shoes</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Chocolate Shoes">Chocolate Shoes</a>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="Fruit Shoes">Fruit Shoes</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/shoes" asp-action="">Усе взуття</a>
</div>
